{% extends "base.html" %} {% block title %}sign-up {% endblock %}

{% block content %}<h1> this is the login signup </h1>

<form method="POST">
    <h3 align="center">sign-up</h3>
    <div class="form-group">
        <label for="email">
            email address 
        </label>
        <input 
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter email"/>
    </div>
    <div class="form-group">
        <label for="firstName">
            First Name 
        </label>
        <input 
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            placeholder="Enter first name"/>
    </div>
    <div class="form-group">
        <label for="pass1">
            Password 
        </label>
        <input 
            type="password"
            class="form-control"
            id="pass1"
            name="pass1"
            placeholder="Enter password"/>
    </div>
    <div class="form-group">
        <label for="pass2">
            Reenter Password 
        </label>
        <input 
            type="password"
            class="form-control"
            id="pass2"
            name="pass2"
            placeholder="Enter password again"/>
    </div>
    <br>
    <button type="submit" class="btn btn-primary"> Submit </button>

</form>

<p>Already have an account?</p> <a class="nav-item nav-link" id="login" href="/login">Log in here</a>
{% endblock %}