{% extends "base.html" %} {% block title %}Home {% endblock %}

{% block content %}<h1> this is the Chat log, pick a chatroom</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>
</head>
<body>
    <form method="POST">
        <div class = "workout-chat" method = "post">
            <input 
                type="submit" 
                name="submit_button"   
                id="submit_button" 
                value="Do Something"/>
            <input 
                type="submit" 
                name="submit_button" 
                id="submit_button" 
                value="Do Something Else"/>
        </div>
    </form>
    
    
</body>
</html>
{% endblock %}


